Repository theDiverDK/AZ400-DevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/Pipelines/Function-deploy.yaml, .ado/Pipelines/Function-deploy.yml, .ado/Pipelines/Webapp.yaml

.ado/Pipelines/Function-deploy.yaml:
  pool:
    name: Minecraft server
    vmImage: ubuntu-latest
  stages:
  - stage: null
    displayName: Build & Deploy
    jobs:
    - job: null
      steps:
      - task: DotNetCoreCLI@2
        displayName: Restore
        inputs:
          command: restore
          projects: Functions/**/*.csproj
  ...

.ado/Pipelines/Function-deploy.yml:
  pool:
    name: Minecraft server
    vmImage: ubuntu-latest
  stages:
  - stage: null
    condition: false
    displayName: Create or update environment
    variables:
    - group: Function-App-Prod
    jobs:
    - job: null
      steps:
      - checkout: none
      - task: AzureCLI@2
  ...

.ado/Pipelines/Webapp.yaml:
  pool:
    name: Minecraft server
    vmImage: ubuntu-latest
  stages:
  - stage: null
    displayName: Build & Deploy
    jobs:
    - job: null
      steps:
      - task: DotNetCoreCLI@2
        displayName: Restore
        inputs:
          command: restore
          projects: WebApp/**/*.csproj
          feedsToUse: select
  ...

changed webapp
  .vscode/settings.json
  DevOps-Project.sln
  WebApp/Controllers/HomeController.cs
  WebApp/Models/ErrorViewModel.cs
  WebApp/Program.cs
  WebApp/Properties/launchSettings.json
  WebApp/Views/Home/Index.cshtml
  WebApp/Views/Home/Privacy.cshtml
  WebApp/Views/Shared/Error.cshtml
  WebApp/Views/Shared/_Layout.cshtml
  WebApp/Views/Shared/_LoginPartial.cshtml
  WebApp/Views/Shared/_ValidationScriptsPartial.cshtml
  WebApp/Views/_ViewImports.cshtml
  WebApp/Views/_ViewStart.cshtml
  WebApp/WebApp.csproj
  WebApp/appsettings.json
  WebApp/wwwroot/lib/jquery-validation/dist/additional-methods.js
  WebApp/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
  WebApp/wwwroot/lib/jquery-validation/dist/jquery.validate.js
  WebApp/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
Due: .ado/Pipelines/Webapp.yaml

test
  WebApp/Controllers/HomeController.cs
  WebApp/WebApp.csproj
Due: .ado/Pipelines/Webapp.yaml

added datetime
  WebApp/Controllers/HomeController.cs
Due: .ado/Pipelines/Webapp.yaml

changed file name
  WebApp/Controllers/HomeController.cs
Due: .ado/Pipelines/Webapp.yaml

trying environment
  .ado/Pipelines/Functions.yaml
  WebApp/Controllers/HomeController.cs
  WebApp/Views/Home/Index.cshtml
Due: .ado/Pipelines/Function-deploy.yml, .ado/Pipelines/Webapp.yaml

reomved build step
  .ado/Pipelines/Functions.yaml
Due: .ado/Pipelines/Function-deploy.yml

try functions
  Functions/HttpTriggerFunction/HttpTrigger.cs
Due: none

try publish from pipeline
  .ado/Pipelines/Deploy.yaml
  .ado/Pipelines/Functions.yaml
Due: .ado/Pipelines/Function-deploy.yml

rename
  .ado/Pipelines/Deploy.yaml
Due: .ado/Pipelines/Function-deploy.yml

test
  .ado/Pipelines/Functions.yaml
Due: .ado/Pipelines/Function-deploy.yml

test
  .ado/Pipelines/Deploy.yaml
  .ado/Pipelines/Functions.yaml
Due: .ado/Pipelines/Function-deploy.yml

service connection
  .ado/Pipelines/Functions.yaml
Due: .ado/Pipelines/Function-deploy.yml

new function
  Functions/HttpTriggerFunction/HttpTrigger.cs
  WebTest.http
Due: none

hmm
  .ado/Pipelines/Functions.yaml
Due: .ado/Pipelines/Function-deploy.yml

webap
  .ado/Pipelines/Functions.yaml
  .ado/Pipelines/Webapp.yaml
  WebTest.http
Due: .ado/Pipelines/Function-deploy.yml

webapp
  WebApp/Program.cs
Due: .ado/Pipelines/Webapp.yaml

fix
  .ado/Pipelines/Webapp.yaml
Due: .ado/Pipelines/Function-deploy.yml

Update Environment.yaml
  .ado/Pipelines/Environment.yaml
Due: .ado/Pipelines/Function-deploy.yml

test
  .azure/bicep/Environment.bicep
  .vscode/settings.json
Due: .ado/Pipelines/Function-deploy.yml

fix
  .azure/bicep/Environment.bicep
Due: .ado/Pipelines/Function-deploy.yml

nu virker det
  .ado/Pipelines/Environment.yaml
  .azure/bicep/Environment.bicep
  .azure/bicep/Environment.json
Due: .ado/Pipelines/Function-deploy.yml

test
  .ado/Pipelines/Webapp.yaml
Due: .ado/Pipelines/Function-deploy.yml

all back
  .ado/Pipelines/Webapp.yaml
Due: .ado/Pipelines/Function-deploy.yml

production
  .azure/bicep/Environment.bicep
Due: .ado/Pipelines/Function-deploy.yml

output
  .azure/bicep/Environment.bicep
  WebApp/Controllers/HomeController.cs
  WebApp/Views/Home/Index.cshtml
Due: .ado/Pipelines/Function-deploy.yml, .ado/Pipelines/Webapp.yaml

viewbag
  WebApp/Controllers/HomeController.cs
  WebApp/Views/Home/Index.cshtml
Due: .ado/Pipelines/Webapp.yaml

added exception
  WebApp/Controllers/HomeController.cs
  WebApp/Program.cs
Due: .ado/Pipelines/Webapp.yaml

use linq
  WebApp/Controllers/HomeController.cs
Due: .ado/Pipelines/Webapp.yaml

Added Application Insight
  WebApp/Program.cs
  WebApp/WebApp.csproj
  WebApp/appsettings.json
Due: .ado/Pipelines/Webapp.yaml

added a secret
  WebApp/Controllers/HomeController.cs
  WebApp/appsettings.json
Due: .ado/Pipelines/Webapp.yaml

Moved secret
  WebApp/appsettings.json
  hemmeligt/secret.txt
Due: .ado/Pipelines/Webapp.yaml

renamed secret.txt
  hemmeligt/secret.md
Due: none

test
  test.txt
Due: none

removed test.txt
  test.txt
Due: none

new file
  hemmeligt/secret.md
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

Path conditions:
  .ado/Pipelines/Function-deploy.yaml: any of: HttpTriggerFunction
  .ado/Pipelines/Function-deploy.yml: any of: HttpTriggerFunction, .ado, .azure
  .ado/Pipelines/Webapp.yaml: any of: WebApp
